@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: -moz-border-box;
    box-sizing: -webkit-border-box;
    box-sizing: border-box;
}

html {
    background: url("http://subtlepatterns.com/patterns/paper_2.png");
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.3;
    text-align: center;
    font-size: 16px;
}

h1 {
    font-family: "Love Ya Like A Sister", sans-serif;
    font-weight: 500;
    font-size: 150px;
    color: rgb(50, 50, 50);
    text-shadow: 0 2px 2px white;
    margin-bottom: 10px;
}

p {
    font-size: 25px;
    font-family: "Times New Roman", serif;
    text-shadow: 0 1px 1px white;
}

#wrapper {
    width: 600px;
    margin: 0 auto 50px auto;
}

#generator {
    margin: 50px;
}

#preview {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

#preview svg{
    line-height: 200px;
    display: inline-block;
    vertical-align: middle;
}


form {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

label {
    text-align: right;
    display: block;
    width: 320px
}

label span:first-of-type {
    font-weight: 900;
    display: inline-block;
    width: 40px;
}
label span:nth-of-type(2) {
     display: inline-block;
     width: 20px;
 }

input {
    margin-left: 10px;
}

textarea {
    display: inline-block;
    width: 500px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    resize: vertical;
}
